@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500;700&family=Gabarito:wght@700&family=Mukta:wght@400;700&family=Playpen+Sans:wght@500&family=Roboto+Mono:ital@1&family=Roboto:ital,wght@1,700&display=swap');

body {
    padding: 0px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 2rem 5%;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
}

header .logo {
    font-size: 1.5rem;
    color: chocolate;
    font-weight: bolder;
}

header .logo i {
    padding-right: .3rem;
    color: tomato;
}

.nav_bar a {
    font-size: 1.5rem;
    color: #666;
    margin-left: 2rem;
}

header .nav_bar a:hover {
    color: salmon;
}

/**/

.m {
    color: black;
}

.content h3 {

    font-size: 4rem;
    color: #333;
}

.content p {
    font-size: 1.5rem;
    color: #666;

}

.content {
    padding: .5rem;
    margin-left: 100px;
}

.home {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}


/*img*/

.image img {
    width: 50%;
    padding: 1rem;
    animation: float 3s linear infinite;
    margin-left: 700px;
    margin-top: -450px;
    padding: 1rem;

}


/*media query*/




/*keyfram*/

@keyframes float {

    0%,
    100% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(3rem);
    }
}

.heading span {
    color: orange;
}

.heading {
    text-align: center;
    font-size: 3rem;
}

/*===SPECIALITY====*/
/*IMAGES*/

.drink {
    width: 45%;
    height: 450px;
    padding: 2rem;
    border: 1px solid rgba(232, 14, 14, 0.3);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
    border-radius: .5rem;
}

.box-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px;
    width: 100%;
    flex: 1 1 30rem;

}

div.box img {
    width: 86%;

}

div.box h3 {
    text-align: center;
}

div.box .rad {
    border: 1px solid black;
    background: #e91010;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*button 2*/

.btn1 {
    border: 2px solid rgb(248, 130, 12);
    font-size: 2rem;
    align-content: center;
    margin-left: 120px;
    background: black;
    color: white;
    text-decoration: none;
}

.box-container {
    padding-left: 10px;
}

/*most popular*/



.rad {
    margin-left: 30px;
    font-size: 1.4rem;
}

/*popular*/


#er {
    border: 1.5px solid rgba(4, 4, 4, 0.3);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
    border-radius: .5rem;
    width: 75%;
}

#fish {
    margin-left: 25px;
}

.stars {
    margin-left: 115px;
    font-size: 1.4rem;
    margin-bottom: 20px;
}

/*text*/

.ertext {
    font-size: 1.5rem;
}




header a {
    text-decoration: none;

}

.content p {
    font-family: sans-serif;
}


/*btn hover*/

.btn1:hover {
    background-color: orange;
}

/*<!--===== reviews SECTION HERE STARTS-->*/

.pic img {
    width: 50%;
}

.order {
    display: flex;
}

#form {
    margin-top: 200px;
    margin-right: 100px;

}



.foto {
    margin-left: 250px;
    border: 1px solid orange;
    box-shadow: 0.5rem 1rem rgba(101, 95, 95, 0.2);
}

h3 {
    font-family: cursive;
    font-size: 1.5rem;
}

p {
    font-family: serif;
}


/*gallery*/

div.pic {
    display: flex;
}


.pic img {
    margin-left: 55px;
}

/*form*/

div.form {
    margin-top: 80px;
    margin-left: -400px;
    font-size: 1.4rem;
    font-family: cursive;
    box-sizing: border-box;
    font-style: oblique;
    font-weight: 350;
    color: rgb(255, 255, 255);
    border: 1px solid black;
    align-items: center;
    align-self: center;
    align-content: center;
    width: 25%;
    padding: 20px 1px 20px 55px;
    box-shadow: .5rem 1rem rgba(15, 14, 14, 0.1);
    background-color: rgb(14, 14, 14);
}

/**strt review*/
.strt1 {
    background-color: #666;
    height: 300px;
    padding: 20px;
}

.strt1 h3 {
    margin-left: 150px;
    margin-top: -100px;
    font-size: 1.6rem;
    color: orange;
}

.strt1 p {
    margin-top: 40px;
    color: white;
    font-size: 1.5rem;
    margin-left: 20px;
}

.strt1 {
    width: 20%;
    border-radius: 10%;
}

/*box*/

div.box123 {
    background-color: #f1d4d4;
    height: 360px;
}

#addddd {
    font-size: 2.4rem;
    margin-right: 15px;
}

/*trans try*/

.pic h1 {
    border: 2px solid black;
    height: 70px;
    border-radius: 5px;
    animation: lol 2s infinite;
}

@keyframes lol {
    0% {
        transform: translatey(0rem)
    }

    50% {
        transform: translatey(.4rem)
    }

}


.boxada {
    background: black;
    height: 50px;
}

.boxada img {
    width: 10%;
    height: 45px;
    margin-left: 700px;
    margin-top: 3px;
}

.box123 {
    display: flex;
    gap: 40px;
    padding: 10px;
}